@import "bootstrap-sprockets"
@import "bootstrap"
@import url(http://fonts.googleapis.com/css?family=Oswald)

body   
  background-color: #000
  background-image: image-url("bg.png")
  
  height: 700px

#form-container
  padding: 20px
  background-color: #fff
  color: #000
  box-shadow: 0px 0px 10px #000
 
#form-restrainer
  width: 350px
  margin: 0 auto
  
.form-control
  background-color: #fff
  border: 1px solid black
  margin-bottom: 5px
  
.form-control:focus
  border: 1px solid #ccc

.error
  border: 1px solid #ff0000
 
.button
  background-color: #333
  color: #fff
  font-weight: bold
  width: 150px
  height: 75px
  border: 0px
  margin-left: 100px
  margin-top: 20px
  border-radius: 5px
  
  
#title-box
  width: 100%
  text-align: center
  font-family: 'Oswald'
  font-size: 40px
  color: #000