<!DOCTYPE html>
<html>
	<head>
		<title>SCD</title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
	</head>
	<body>

		<div id="container" class="container-fluid">
			<div class="row">
				<div id="form-container" class="col-md-4 col-md-offset-4">
					<div id="title-box" class="row">
						<h2>Sistema de Cadastro de Dados</h2>
					</div>
					
					<%= yield %>
					
				</div>
			</div>

		</div>

	</body>
</html>
